.dashboard__wrapper {
  display: grid;
  height: 100vh;
  width: 100%;
  background-color: #eee;
  grid-template-columns: 285px 1fr;
}

.dashboard__sidebar {
  background-color: #111;
}


.dashboard__main {
  @apply p-5 h-full;
}

.trusted-by svg {
  @apply w-full;
}